body {
	font-family: 'Raleway', sans-serif;
}
.bg-img.login {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: url(../images/bg-login.jpg) center center no-repeat fixed;
	background-size:cover;
}
.bg-img.registration {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	min-height:100%;
	background: url(../images/bg-login.jpg) center center no-repeat fixed;
	background-size:cover;
}
/*-----REGISTRATION-----*/
.container.login {
	max-width:400px;
	background-color:white;
	padding:30px;
	position: relative;
	top: 50%;
  	transform: translateY(-50%);
	border-radius: 10px;
}
.container.registration {
	max-width:400px;
	background-color:white;
	padding:30px;
	position: relative;
	border-radius: 10px;
}
#imd-logo {
	background-image: url(../images/imd-logo.png);
	display:block;
	width:180px;
	height:180px;
	text-indent:-9999px;
	margin:0 auto;
}
h1.legend {
	text-align:center;
	font-size: 1.7em;
	font-weight:700;
	color: #acacaa;
	margin-top:-.5em;
	margin-bottom: 1em;
}
p.or {
	text-align:center;
	text-transform: uppercase;
	color: #acacaa;
	font-weight:700;
	margin:1em 0;
}
select.form-control {
	margin-bottom: 1em;
}
p.agreement {
	text-align:center;
	color: #acacaa;
	margin:1em 0;
}
a.policy {
	text-decoration: none;
	color:#acacaa;
	font-weight:700;
}

/* -----LOGIN----- */
.input-group {
	margin-bottom:10px;
}
.input-group .form-control:first-child {
	border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
label.login-lbl {
	margin-top:10px;
}
.btn-login {
	margin-top:1.5em;
}
p.forgot-pw {
	text-align: center;
	margin:1em 0;
}
a.forgot-pw-link {
	text-decoration: none;
	color:#acacaa;
}
p.signup {
	text-align:center;
	color: #acacaa;
	margin:1em 0;
}
a.signup-link {
	text-decoration: none;
	color:#acacaa;
	font-weight:700;
}
a.signup-link:hover,
a.forgot-pw-link:hover{
	color:#337ab7;
}
textarea:focus,
select.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
	border-color: #121212;
	box-shadow: none;
	outline: 0 none;
}
/*-----CHANGE PROFILE-----*/
h1.ch-profile-legend {
	text-align:center;
	font-size: 1.2em;
	font-weight:700;
	color: #acacaa;
	margin-bottom: 1em;
}
.ch-profile-input {
	margin-bottom:1em;
}
span.input-group-addon {
	width:40px;
}
.input-group {
	width:100%;
}
.save-changes {
	margin-top:1.5em;
}

	