body,html {
	font-family: 'Raleway', sans-serif;
	height:100%;
}
#imd-logo {
	background-image: url(../images/imd-logo.png);
	background-repeat:no-repeat;
	background-position: center;
	display:block;
	min-height:20vh;
	text-indent:-9999px;
	margin:0 auto;
}
.form,
.form-control {
	border:none;
	box-shadow: none;
}
.form-control {
	background-color: #f1f2f2;
	box-shadow: none;
	border:none;
}
.input-group {
	margin-bottom:10px;
	width:100%;
}
.input-group .form-control:first-child {
	border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.input-group-addon{
	background-color:#f1f2f2;
	border:none;
}
span.input-group-addon {
	width:40px;
}
.fa {
	color:#33b5e6;
}
textarea:focus,
select.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
	border-color: #0091bf;
	box-shadow: none;
	outline: 0 none;
}
textarea:focus,
select.form-control:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="date"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover,
input[type="number"]:hover,
input[type="email"]:hover,
input[type="url"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="color"]:hover,
.uneditable-input:hover {   
	border:none;
	box-shadow: none;
	outline: 0 none;
}
.btn-primary {
	background-color:#33b5e6;
	border: 1px solid #22b4ea;
}
.btn-primary:hover {
	background-color:#0099cb;
	border:1px solid #0091bf;
}
/*-----REGISTRATION-----*/
.bg.registration {
	min-height:100%;
	background-color:#33b4e6;
	padding:50px 0;
}
.container.registration {
	position: relative;
	max-width:400px;
	background-color:white;
	padding:30px;
	border-radius: 10px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6), 0 10px 10px 0 rgba(0, 0, 0, 0.3);
}
h1.legend {
	text-align:center;
	font-size: 1.7em;
	font-weight:700;
	color: #acacaa;
	margin-top:-.5em;
	margin-bottom: 1em;
	margin-top: 1em;
}
p.or {
	text-align:center;
	text-transform: uppercase;
	color: #acacaa;
	font-weight:700;
	margin:1em 0;
}
select.form-control {
	margin-bottom: 1em;
}
label.register-lbl {
	margin-top:10px;
	color:#acacaa;
}
p.agreement {
	text-align:center;
	color: #acacaa;
	margin:1em 0;
}
a.policy {
	text-decoration: none;
	color:#acacaa;
	font-weight:700;
}

/* -----LOGIN----- */
.bg.login {
	height:100%;
	background-color:#33b4e6;
}
.container.login {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	max-width:400px;
	background-color:white;
	padding:30px;
	border-radius: 10px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6), 0 10px 10px 0 rgba(0, 0, 0, 0.3);
}
label.login-lbl {
	margin-top:10px;
	color:#acacaa;
}
.btn-login {
	margin-top:1.5em;
}
p.forgot-pw {
	text-align: center;
	margin:1em 0;
}
a.forgot-pw-link {
	text-decoration: none;
	color:#acacaa;
}
p.signup {
	text-align:center;
	color: #acacaa;
	margin:1em 0;
}
a.signup-link {
	text-decoration: none;
	color:#acacaa;
	font-weight:700;
}
a.signup-link:hover,
a.forgot-pw-link:hover{
	color:#0099ca;
}
/*-----CHANGE PROFILE-----*/
.container.change-profile {
width:400px;
}
h1.ch-profile-legend {
	text-align:center;
	font-size: 1.2em;
	font-weight:700;
	color: #acacaa;
	margin-bottom: 1em;
}
.ch-profile-pic {
	margin-bottom:1em;
}
img.ch-profile-pic {
	width:150px;
	height:150px;
	cursor:pointer;
	border-radius: 50%;
	border: none;
	float:left;
}
p.p-ch-profile-pic {
	text-align:center;
	font-weight:700;
}
.dropdown-profile-pic {
	display:none;
	margin-top:1.5em;
	float:right;
	max-width:200px;
}
.ch-profile-input {
	margin-bottom:1em;
}
.save-changes {
	margin-top:1.5em;
}
/*-----ADD PICTURE-----*/
.bg.upload-pict {
	height:100%;
	background-color:#33b4e6;
	padding:50px 0;
}
.container.upload-pict {
	position: relative;
	max-width:400px;
	background-color:white;
	top: 50%;
	transform: translateY(-50%);
	padding:30px;
	border-radius: 10px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.6), 0 10px 10px 0 rgba(0, 0, 0, 0.3);
}
.fileinput-preview.thumbnail {
	width:250px;
	height:250px;
}
label.upload-pic-lbl {
	margin-top:10px;
}
img.imagePreview{
	display:block;
	margin: 0 auto;
}
.hide {
	display:none;
}
/*-----FEED-----*/
.container-fluid.header-feed {
	background-color: #fff;
	height:70px;
	padding-top:15px;
	border-bottom: 1px solid #dbdbdb;
}
form.form-inline.search-bar {
	width:100%;
	margin-left:23%;
	margin-right:23%;
}
.btn-search {
	margin-left:10px;
}
.container-fluid.feed{
	background-color: #fafafa;
}
.row.feed {
	max-width: 400px;
	margin: 0 auto;
}
.each-post {
	border: 1px solid #dbdbdb;
	margin-top:40px;
}
.each-post:last-child{
	margin-bottom:30px;
}
.img-feed {
	max-width: 400px;
	height: auto
}
.description-feed {
	background-color:#fff;
	height:auto;
	padding: 20px;
}
i.fa.fa-heart.fa-2x.nolike {
	color: #d3d3d3;
}
.comment-like {
	margin-top:12px;
	border-top:1px solid #dbdbdb;
}
.btn-default.btn-like{
	padding-top:20px;
	float:left;
	color: transparent;
	background-color: transparent;
	border-color: transparent;
}
.btn-default.btn-like:hover {
	color: transparent;
	background-color: transparent;
	border-color: transparent;
}
.form-inline.place-comment {
	float:left;
	margin-top:19px;
}
.clearfix {
	clear:both;
}
.hart-like{
	color: red !important;
}






	